<h1> Ciannas the best at making Ox Tail </h1>

<p> The Ingredients for this reciepe are:</p>

<ul>
<% @ingredients.each do |value| %>
    <li>  <%= value %>  </li>
<% end %>
</ul>

<br>
<%= link_to "Home", "/" %>